body {
    /* background-color: aqua; */
    margin: 0;
    padding: 0;
}
#signup {
    background-color: bisque;
    padding:20px;
    margin-left: 400px;
    margin-top: 100px;
    text-align: center;
    width: 300px;
    align-items: center;
    border-radius: 20px;
}
input[type="submit"] {
    background-color: rgb(108, 108, 204) ;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}


.navbar {
    background-color: rgb(5, 5, 5);
    float: right;
    font-family: 'calibri';
    width: 100%;
    margin-top: 0;
    margin-bottom: 50px;
    /* padding: 10px 0; */
}
.navbardiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
 .logo a {
    font-weight: 600;
    color: antiquewhite;
    font-size: 40px;
    text-decoration: none;
}
li {
    list-style-type: none;
    display: inline-block;
}
li a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 21px;
    text-decoration: none;
}
button {
    background-color: yellow;
    margin-left: 9px;
    border-radius: 10px;
    width: 60px;
}
button a{
    color:black;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    font-family: 'calibri';
}
.article {
    margin-left: 50px;
    /* background-color: rgb(243, 248, 248) ; */
    width: 100%; 
    
}
.article h1 {
    margin-top: 0px;

}
.article p {
    margin-top: 0;
}


.image-content {
    float: right;
    margin-right: 150px;
    
}
.try-now-btn {
    width: 20%;
    margin-left: 20px;
    font-size: 18px; */
    background-color: yellow;
    border: none;
    color: black;
    padding: 25px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 5px;
    cursor: pointer;
}
