<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <style>
        #table-container {
            background-color: #ee6969;
            margin: 0 auto;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
            transition: max-height 0.3s ease;
            overflow: hidden;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;
        }
        th, td {
            padding: 12px 15px;
            text-align: left;
            border-bottom: 1px solid #0e0c0c;
        }
        th {
            background-color: #f2f2f2;
        }
        table, th, td {
            border: none;
        }
        .popup {
            background-color: rgba(0, 0, 0, 0.4);
            width: 100%;
            height: 100%;
            display: none;
            overflow: auto;
            z-index: 1;
        }
        .popup-content {
            background-color: yellow;
            margin: 15% auto;
            padding: 20px;
            width: 30%;
            border: 1px solid #888;
            border-radius: 5px;
        }
    
    </style>
</head>
<body>
    <div id="table-container">
        <table id="quiz-table">
            <thead>
                <tr>
                    <th>Deck</th>
                    <th>Number of quizzes</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                <!-- rows added dynamically-->
                 
                
            </tbody>
            
        </table>
    </div>

    <!--button to trigger Add popup-->
    <button id="add-row-btn" onclick="showAddPopup()">Add Row</button>
    
    <!--popup for adding  a deck-->
    <div id="myPopup" class="popup">
        <div class="popup-content">
            <h2>Enter Deck Name</h2>
            <input type="text" id="deck-name-input" placeholder="enter deck name">
            <button onclick="addDeck()">Save</button>
            <button onclick="closePopup()">Cancel</button>
        </div>
    </div>

    <!--popup for editing a deck-->
    <div id="editPopup" class="popup">
        <div class="popup-content">
            <h2>Edit Deck name</h2>

            <input type="text" id="edit-deck-name-input" placeholder="Enter new deck name">
            <div class="button-group">
                <button class="save-button" onclick="saveEditedDeck()">Save
                </button>
            </div>
            <button class="cancel-button" onclick="closePopup('editPopup')"> Cancel</button>
        </div>
    </div>
    <script>
        let deckId;
        let deckName = '';
        document.getElementById("add-row-btn").addEventListener("click", 
            showAddPopup);

        // Function to show Add popup
        function showAddPopup() {
            document.getElementById("myPopup").style.display = 'block';
        }
        // Function to show edit popup
        function showEditPopup(index) {
            const deckNameElement = document.getElementById(`deck-name-$index}`);
            if (deckNameElement) {
                document.getElementById("edit-deck-name-input").value = deckNameElement.textContent;
            }
            else {
                document.getElementById("edit-deck-name-input").value = '';
            }
            document.getElementById("editPopup").style.display = "block";
            editIndex = index;
        }

        // function to closepoups
        function closePopup() {
            document.getElementById("deck-name-input").value;
            document.getElementById("myPopup").style.display = 'none';
        }

        // function to add deck dynamically
       function addDeck() {
        console.log('Save button clicked!');
        deckName = document.getElementById("deck-name-input").value;
        closePopup();
        const quizCount = 0;  // adjust to be dynamic
        

        console.log('Sending POST request to backend with deckName:', deckName);
        fetch('/add_deck', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                name: deckName,
                quiz_count: quizCount
            })
        })
        .then(response => response.json())
        
        .then(data => {
            console.log('Response received from backend:', data);
            console.log('Success', data);
            //const deckId = data.id;
            window.deckId = data.id;
            console.log("please i added deck with id:",deckId)
            const table = document.getElementById('quiz-table').getElementsByTagName('tbody')[0];
            const row = table.insertRow();

            const cell1 = row.insertCell(0);
            const cell2 = row.insertCell(1);
            const cell3 = row.insertCell(2);

            cell1.textContent = deckName;
            cell2.textContent = '0';
             
        
            // Add an edit button
            const editButton = document.createElement('button');
            editButton.textContent = 'Edit';
            editButton.onclick = () => showEditPopup(table.rows.length -1);
            cell3.appendChild(editButton)
            editIndex = table.rows.length -1; //store new index row which is used to edit later
            
            // Add space between buttons
            const space = document.createTextNode(" ");
            cell3.appendChild(space);
            
            // Add delete button
            const deleteButton = document.createElement('Button');
            deleteButton.textContent = 'Delete';
            //const deckId;  define deckId as a global variable
           
   
           
             // deckId = data.id; // assign value to deckId
           
          
           
           deleteButton.onclick = () => {
             console.log("Deleting a deck with id:", deckId)
             deleteDeck(deckId, row);
           }
            cell3.appendChild(deleteButton);
            
           
            adjustContainerHeight(); //adjust container's height
       })
       .catch((error) => {
        console.error('Error:', error);
       });
    }
       function saveEditedDeck() {
        const deckNameElement = document.getElementById(`deck-name-${editIndex}`);
        if (deckNameElement)
       {
        deckNameElement.textContent = document.getElementById("edit-deck-name-input").value;
        
       }
       closePopup();
       }
        function adjustContainerHeight() {
            const container = document.getElementById('table-container');
            const table = document.getElementById('quiz-table');

            container.style.maxHeight = table.offset + 'px';          
        }

        // addDeck('new deck', 7);
        function getDecks() {
            fetch('/get_decks', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
            .then((response) => response.json())
            .then((data) => {
                console.log('decks retrieved:', data)
                const table = document.getElementById('quiz-table').getElementsByTagName('tbody')[0];
                data.forEach(deck => {
                    const row = table.insertRow();
                    const cell1 = row.insertCell(0);
                    const cell2 = row.insertCell(1);
                    const cell3 = row.insertCell(2);

                    cell1.textContent = deck.name;
                    cell2.textContent = deck.quiz_count;

                    //edit button
                    const editButton = document.createElement('button');
                    editButton.textContent = 'Edit';
                    editButton.onlick= () => showEditPopup(table.rows.length -1);
                    cell3.append(editButton);

                    adjustContainerHeight();
                });
            })
            .catch((error) => {
                console.error('Error retrieving decks:', error);
            });
        }

         // function to delete a deck
         function deleteDeck(id) {
                console.log( `this is it /delete_deck/${id}`);  // Confirm the URL
                fetch(`/delete_deck/${id}`, {
                    method:'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                })
                .then(response => response.json())
                .then(data => {
                    if(data.message) {
                        
                        console.log(data.message);
                        row.remove(); //remove row from table
                    }
                    
                    else {
                        console.error(data.error);
                    }
                })
                .catch(error => {
                    console.error("Error while deleting", error);
                });

            }


        window.addEventListener('load', getDecks);
        

        // function adjustContainerHeight() {
        //     const container = document.getElementById('table-container');
        //     const table = document.getElementById('quiz-table');
        //     container.style.maxHeight = table.offsetHeight + 'px';
        // }



    </script>
</body>
</html>