<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact form</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon_io/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon_io/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='contact.css') }}">

</head>
<style>
   
</style>
<body>
    <nav class="navbar">
        <div class="navbardiv">
            <div class="logo">
                <a href="#">FlashCard App</a>
            </div>
            <ul>
                <li><a href="{{ url_for('landing_page')}}">Home</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>            
                
                <!-- <button><a href="{{ url_for('logout') }}">Logout Now</a></button> -->
          
            </ul>
        </div>
    </nav>
    <div class="container">
    
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flash {{ category }}"id='flash-message'>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <h1>Contact Us</h1>
    <hr>
    <form method="post">
        <input type="text" name="subject" placeholder="Subject" required>
        <input type="email" name="email" placeholder="Your Email" required>
        <textarea name="message" placeholder="Your message" rows="5" required></textarea>
        <button type="submit">Send Message</button>

    </form>
</div>
<script>
    // show flash message
    const flashMessageElement = document.getElementById('flash-message')
    flashMessageElement.style.display = 'block';
    setTimeout(() => {
        flashMessageElement.style.display = 'none'
        window.location.href = '/'
    }, 2000);
</script>
</body>
</html>