<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">

    <title>Quiz Table</title>
    <!-- Favicon links -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon_io/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon_io/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
          
    <style>
    
    </style>
</head>
<nav class="navbar">
    <div class="navbardiv">
        <div class="logo">
            <a href="#">Quiz App</a>
        </div>
        <ul>
            <li><a href="{{ url_for('landing_page')}}">Home</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>            
            
            <li><button id="logoutBtn" style="color:black; margin-right: 25px; padding: 5px 10px" onclick="{{ url_for('logout') }}">Logout</a></button>

        </ul>
    </div>
</nav>

<body>
    <div id="logoutModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2> Confirm logout</h2>
            <p> Are you sure you want to logout?</p>
            <button id="confirmLogout" class="btn btn-primary">Yes</button>
            <button id="cancelLogout" class="btn btn-secondary">No</button>
        </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-messages">
      {% for category, message in messages %}
        <div class="flash flash-{{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

    <div id="table-container">
        {% if decks %}
        <table id="quiz-table">
            <thead>
                <tr>
                    <th>Deck</th>
                    <th>Number of quizzes </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                <!-- Rows added dynamically -->
                {% for deck in decks %}
                <tr>
                <td><a href="{{ url_for('deck_page', deck_id=deck.id) }}">{{ deck.title }}</a></td>
                <td>{{ deck.quiz_count }}</td>
                <td>
                
                    <button class="edit-btn" data-deck-id="{{ deck.id }}" data-deck-title="{{ deck.title }}">
                        <i class="fas fa-edit"></i>
                    </button>
                     <form id="quizForm" action="{{ url_for('delete_deck', deck_id=deck.id) }}" method="post" style="display:inline;">
                        
                            <!--delete button-->
                            <button type="submit" id="delete-deck-btn" class="delete-btn" data-deck-id="{{ deck.id }}">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                     
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>You have No decks. Please add a new deck.</p>
        {% endif %}
    </div>

    <!-- Button to trigger Add popup -->            
            <button id="myBtn">Add new deck</button>
            <!--Add New Deck Modal-->
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <span class="close-add-deck">&times;</span>
                    <h2> Add New Quiz</h2>
                    
                    <form id="quizForm" action="/add_deck" method="post">
                        <label for="title" >Enter Deck Name:</label> <br> <br>
                        <input type="text" id="title" name="title" placeholder="deck name"> <br>
                        <button type="submit" class="save-deck-button">Save</button>
                    </form>
        
                </div>
            </div>

         <!-- Edit Modal -->
    <div id="editModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 class="editH2">Edit Deck Name</h2>
            <form id="editForm" action="/edit_deck" method="post">
                <input type="hidden" id="edit-deck-id" name="deck_id">
                <label for="edit-deck-title">Deck Name:</label>  <br>
                <input type="text" id="edit-deck-title" name="title" required> <br>
                <button type="submit" class="edit-deck-button">Save</button>
            </form>
        </div>
    </div>


    <!-- Popup for adding a deck -->
    <div id="myPopup" class="popup">
        <div class="popup-content">
            <h2>Enter Deck Name</h2>
            <input type="text" id="deck-name-input" placeholder="Enter deck name">
            <button onclick="addDeck()">Save</button>
            <button onclick="closePopup('myPopup')">Cancel</button>
        </div>
    </div>

           <!--Confirmation Modal-->
           <div id="delete-modal" class="modal">
            <div class="modal-content">
                <p>Are you sure you want to delete the deck?</p>
                <div class="modal-actions">
                    <button id="confirm-delete-btn" class="btn btn-danger">Yes</button>
                <button id="cancel-delete-btn" class= "btn btn-secondary">No</button>
                </div>
                
            </div>
        </div>
    
    <!--i have inserted here to allow html to be fully loaded before loading js code-->
    <script src="{{ url_for('static', filename='home.js') }}"></script>
</body>
</html>
