<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Quiz App</title>

  
</head>
<body>
    <div id="signup">
        <h1>Quiz App</h1>
    <form method="post" action="/submit">
        <label for="name">Enter your  fullname </label>
        <input type="text" id="name" name="name"> <br>
        <label for="name">Enter your  email address</label>
        <input type="text" id="name" name="name"> <br>
        <label for="password">Enter your  password</label>
        <input type="text" id="password" name="password"> <br><br>
        <input type="submit">
    </form>
    </div>
</body>
</html>