<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>landing page</title>

            <!-- Favicon links -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon_io/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon_io/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <style>       
    </style>    
     
</head>
<body>
    <nav class="navbar">
        <div class="navbardiv">
            <div class="logo">
                <a href="#">Quiz App</a>
            </div>
            <ul class="nav-links" id="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="{{ url_for('login')}}">Decks</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <button><a href="{{ url_for('login')}}">login</a></button>
            </ul>
        </div>
    </nav>
   <div class="marquee">
    <p>"Learning never exhausts  - Leonardo da Vinci &nbsp; | &nbsp;  “The more that you read, the more things you will know.” - Dr. Seuss &nbsp;</p>
        
    </div>
    <div id="flash-message" class="flash-message">
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class='alert-container'>
               {% for category, message in messages %}
                    <div class="alert alert-{{ category}}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    </div>


    <div class="article">
        <img class="image-content" src="{{ url_for('static', filename='flashcard.PNG')}}" width="500" height="300"alt="quiz image">

        <h1> Welcome to my flashcard App. Your Personal learning tool</h1>
        <p>Improve your knowledge and retention on various topics <br></p>
        <p>With our quiz app you can: </p>
        <ul>
            <li> Create Custom decks for any subject or topics</li>
            <li>Add questions and answers to your decks</li>
            <li> Take quiz after adding your questions</li>
            <li>Keep track of questions you have in your decks</li>
        </ul>
        <p>Sign up now and start learning more effectively</p>
        <button class="try-now-btn"onclick="location.href='{{ url_for('login')}}'">Try Now</button>
    </div>

    <script>
        const flashMessageElement = document.getElementById('flash-message')
        flashMessageElement.style.display = 'block';
            
        setTimeout(() => {
            flashMessageElement.style.display = 'none';           
            }, 2000)
        
       document.getElementById('menu-icon').addEventListener('click', function() {
        const navLinks = document.getElementById('nav-links');
        navLinks.classList.toggle('active')
       })
    </script>
</body>
</html>